# Reglas de asociaci√≥n

In [1]:
import pandas as pd
from apyori import apriori   # pip3 install apyori

## Cargar los datos

In [2]:
mtcars = pd.read_csv('./data/mtcars.csv', encoding = "ISO-8859-1")
mtcars.head()

,model,mpg,cyl,disp,hp,drat,wt,qsec,vs,am,gear,carb
0,Mazda RX4,21.0,6,160.0,110,3.90,2.620,16.46,0,1,4,4
1,Mazda RX4 Wag,21.0,6,160.0,110,3.90,2.875,17.02,0,1,4,4
2,Datsun 710,22.8,4,108.0,93,3.85,2.320,18.61,1,1,4,1
3,Hornet 4 Drive,21.4,6,258.0,110,3.08,3.215,19.44,1,0,3,1
4,Hornet Sportabout,18.7,8,360.0,175,3.15,3.440,17.02,0,0,3,2

In [3]:
categoricas = mtcars[['model',"cyl","am","vs","gear"]]
categoricas = categoricas.astype(object)
categoricas

                  model cyl am vs gear
0             Mazda RX4   6  1  0    4
1         Mazda RX4 Wag   6  1  0    4
2            Datsun 710   4  1  1    4
3        Hornet 4 Drive   6  0  1    3
4     Hornet Sportabout   8  0  0    3
5               Valiant   6  0  1    3
6            Duster 360   8  0  0    3
7             Merc 240D   4  0  1    4
8              Merc 230   4  0  1    4
9              Merc 280   6  0  1    4
10            Merc 280C   6  0  1    4
11           Merc 450SE   8  0  0    3
12           Merc 450SL   8  0  0    3
13          Merc 450SLC   8  0  0    3
14   Cadillac Fleetwood   8  0  0    3
15  Lincoln Continental   8  0  0    3
16    Chrysler Imperial   8  0  0    3
17             Fiat 128   4  1  1    4
18          Honda Civic   4  1  1    4
19       Toyota Corolla   4  1  1    4
20        Toyota Corona   4  0  1    3
21     Dodge Challenger   8  0  0    3
22          AMC Javelin   8  0  0    3
23           Camaro Z28   8  0  0    3
24     Pontiac Firebird   8  0  0    3
25            Fiat X1-9   4  1  1    4
26        Porsche 914-2   4  1  0    5
27         Lotus Europa   4  1  1    5
28       Ford Pantera L   8  1  0    5
29         Ferrari Dino   6  1  0    5
30        Maserati Bora   8  1  0    5
31           Volvo 142E   4  1  1    4

## Transformando los datos

In [4]:
print(categoricas.shape)
# Se van a convertir los datos a una lista de listas
records = []
for i in range(0, 32):
    records.append([str(categoricas.values[i,j]) for j in range(0, 5)])

(32, 5)

In [5]:
records

[['Mazda RX4', '6', '1', '0', '4'],
 ['Mazda RX4 Wag', '6', '1', '0', '4'],
 ['Datsun 710', '4', '1', '1', '4'],
 ['Hornet 4 Drive', '6', '0', '1', '3'],
 ['Hornet Sportabout', '8', '0', '0', '3'],
 ['Valiant', '6', '0', '1', '3'],
 ['Duster 360', '8', '0', '0', '3'],
 ['Merc 240D', '4', '0', '1', '4'],
 ['Merc 230', '4', '0', '1', '4'],
 ['Merc 280', '6', '0', '1', '4'],
 ['Merc 280C', '6', '0', '1', '4'],
 ['Merc 450SE', '8', '0', '0', '3'],
 ['Merc 450SL', '8', '0', '0', '3'],
 ['Merc 450SLC', '8', '0', '0', '3'],
 ['Cadillac Fleetwood', '8', '0', '0', '3'],
 ['Lincoln Continental', '8', '0', '0', '3'],
 ['Chrysler Imperial', '8', '0', '0', '3'],
 ['Fiat 128', '4', '1', '1', '4'],
 ['Honda Civic', '4', '1', '1', '4'],
 ['Toyota Corolla', '4', '1', '1', '4'],
 ['Toyota Corona', '4', '0', '1', '3'],
 ['Dodge Challenger', '8', '0', '0', '3'],
 ['AMC Javelin', '8', '0', '0', '3'],
 ['Camaro Z28', '8', '0', '0', '3'],
 ['Pontiac Firebird', '8', '0', '0', '3'],
 ['Fiat X1-9', '4', '1', '1', '4'],
 ['Porsche 914-2', '4', '1', '0', '5'],
 ['Lotus Europa', '4', '1', '1', '5'],
 ['Ford Pantera L', '8', '1', '0', '5'],
 ['Ferrari Dino', '6', '1', '0', '5'],
 ['Maserati Bora', '8', '1', '0', '5'],
 ['Volvo 142E', '4', '1', '1', '4']]

In [6]:
# El m√≠nimo de cobertura o soporte es 20% y el m√≠nimo de confianza es 70%
reglas_asociacion = apriori(records,min_support=0.1, min_confidence = 0.7)
reglas = list(reglas_asociacion)

In [7]:
print(len(reglas))

16

Se crearon 16 reglas con los umbrales proporcionados

In [8]:
print(reglas[0])

RelationRecord(items=frozenset({'0'}), support=0.78125, ordered_statistics=[OrderedStatistic(items_base=frozenset(), items_add=frozenset({'0'}), confidence=0.78125, lift=1.0)])

In [9]:
for regla in reglas:
    p = regla[0]
    for e in p:
        print(e)
    #print("La regla: "+elementos)

0
0
3
0
5
0
6
0
8
1
4
5
1
1
6
3
8
0
1
4
0
1
5
0
1
6
0
3
8
0
6
4
6
1
4
0
6
1
4